In [1]:
print("hello world")

hello world

In [6]:
a=[1,2,3,4,5]
for i in a:
    if i==4:
        continue
    print(i)

1
2
3
5

In [7]:
a=[1,2,3,4,5]
for i in a:
    if i==4:
        break
    print(i)

1
2
3

In [8]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [10]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [13]:
for i in range(3,7):
    print(i)

3
4
5
6

In [16]:
for i in range(2,15,2):
    print(i)

2
4
6
8
10
12
14

In [18]:
for i in range(5):
    print(i)
else:
    print("OVER")

0
1
2
3
4
OVER

In [24]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print(OVER)

0
1
2

In [26]:
for i in range(7):
    if i == 4:
        continue
    print(i)
else:
    print("OVER")

0
1
2
3
5
6
OVER

In [29]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"," you "]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
red  you
big apple
big banana
big cherry
big  you
tasty apple
tasty banana
tasty cherry
tasty  you

In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [3]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [8]:
i=0
while i<=5:
    print(i)
    i+=1
else:
     print('over')

0
1
2
3
4
5
over

In [14]:
def my_fun():
    print("hello world,this is my step")
my_fun()

hello world,this is my step

In [22]:
def my_fun(fname,num1):
    print(fname+"roll no is"+num1)
my_fun("ram " , " 2")
my_fun("shyam "," 3")
my_fun("hari "," 4")

ram roll no is 2
shyam roll no is 3
hari roll no is 4

In [1]:
mylist=[1,2,3,4,5,6]
print(mylist)

[1, 2, 3, 4, 5, 6]

In [5]:
mylist=['apple','ball','cat']
print(mylist[0])

apple

In [11]:
mylist=['apple','banana','cow']
print(mylist[0:3])

['apple', 'banana', 'cow']

In [12]:
mylist=['apple','banana','cow']
mylist[0]='hero'
print(mylist)

['hero', 'banana', 'cow']

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon","hero","ram"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'hero', 'ram', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [25]:
mylist="hero","honda",106
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist.append(mylist)
print(thislist)

[('hero', 'honda', 106)]

In [27]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [32]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [44]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ["hello"+x for x in fruits if "a" in x]

print(newlist)

['helloapple', 'hellobanana', 'hellomango']

In [50]:
thislist = [100, 102, 605, 2, 23]
thislist.sort(reverse = Tru)
print(thislist)

[605, 102, 100, 23, 2]

In [52]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [60]:
def myfunc(n):
  return abs(n - 2)

thislist = [100, 102, 605, 2, 23]
thislist.sort(key = myfunc)
print(thislist)

[2, 23, 100, 102, 605]

In [62]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [63]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [64]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [67]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [71]:
thisset = {"apple", "banana", "cherry"}
myfruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits = ("apple", "banana", "cherry")
print("banana" in fruits)
print("banana" in myfruits)
print("banana" in thisset)

True
True
True

In [82]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)
x = car.keys()
b = car.get("model")
c = car.values()
car["color"] = "red"
if "model" in car:
  print("Yes, 'model' is one of the keys in the car dictionary")
print(car)
print(c)
print(x)
print(b)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Yes, 'model' is one of the keys in the car dictionary
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])
dict_keys(['brand', 'model', 'year', 'color'])
Mustang

In [85]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("nishant", 4))
print(remove_chars("timsina", 2))

Removing characters from a string
Original string: nishant
ant
Original string: timsina
msina

In [86]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [87]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [88]:
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

In [94]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [119]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

number=int(input("Enter the number to be chaked:"))
palindrome(number)

Enter the number to be chaked:121
original number 121
Given number palindrome

In [126]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
result_list=[]
for num in list1:
    if num%2!=0:
        result_list.append(num)
for num in list2:
    if num%2==0:
        result_list.append(num)
print(result_list)

[25, 35, 40, 60, 90]

In [131]:
number = 645677
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 645677
7 7 6 5 4 6

In [133]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [138]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [2]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)
a=int(input("Enter the base value"))
b=int(input("Enter the exp value"))
exponent(a, b)

Enter the base value2
Enter the exp value2
2 raises to the power of 2 is:  4

In [29]:
class person:
    
    def __init__(self,n,s):
        self.name=n
        self.value=s
        
    def add(self,x,y):
        self.z=x+y
        print(self.z)
    
    
    def show(self):
        print(self.name,"is only",self.value," doller human")
        
a=person("nishant",2500)
a.show()

b=person("Rohan",10000)
b.show()

a.add(5,6)
a.show()

nishant is only 2500  doller human
Rohan is only 10000  doller human
11
nishant is only 2500  doller human

In [45]:
class Car:
    
    def __init__(self,br):
        print("inside constructor")
        self.brand=br
    def show(self):
        print("f1 car are produced by ",self.brand)

r1 = Car("ferari")
r1.show()

inside constructor
f1 car are produced by  ferari

In [46]:
class Employee:

    def display(self):
        print('Inside Display')

emp = Employee()
emp.display()

Inside Display

In [52]:
class student:
    
    def __init__(self,na,ag=12):
        self.name=na
        self.age=ag
    def show(self):
        print(self.name,"age is",self.age)
f1=student("nishant")
f1.show()

f2=student("ram",15)
f2.show()

nishant age is 12
ram age is 15

In [61]:
class student:
    def __init__(self,ID):
        self.ID=ID
class libraby(student):
    def __init__(self,ID,book):
        super().__init__(ID)
        self.book=book
class school(libraby):
    def __init__(self,ID,book,name):
        super().__init__(ID,book)
        self.name=name
    
s1=school('202042','the three musketer','nishant')
print(f'{s1.name} with ID number {s1.ID} has taken {s1.book} book')

nishant with ID number 202042 has taken the three musketer book

In [63]:
 class Vehicle:
    # Constructor of Vehicle
    def __init__(self, engine):
        print('Inside Vehicle Constructor')
        self.engine = engine

class Car(Vehicle):
    # Constructor of Car
    def __init__(self, engine, max_speed):
        super().__init__(engine)
        print('Inside Car Constructor')
        self.max_speed = max_speed

class Electric_Car(Car):
    # Constructor of Electric Car
    def __init__(self, engine, max_speed, km_range):
        super().__init__(engine, max_speed)
        print('Inside Electric Car Constructor')
        self.km_range = km_range

# Object of electric car
ev = Electric_Car('1500cc', 240, 750)
print(f'Engine={ev.engine}, Max Speed={ev.max_speed}, Km range={ev.km_range}')

Inside Vehicle Constructor
Inside Car Constructor
Inside Electric Car Constructor
Engine=1500cc, Max Speed=240, Km range=750

In [65]:
class c1:
    count=0
    def __init__(self):
        c1.count=c1.count+1
e1=c1()
e1=c1()
e2=c1()
e1=c1()
e2=c1()
e2=c1()
print(f'The no of invoke are {c1.count}')

The no of invoke are 6

In [68]:
class Employee:
    def __init__(self, name, salary):
        # public member
        self.name = name
        # private member
        # not accessible outside of a class
        self.__salary = salary

    def show(self):
        print("Name is ", self.name, "and salary is", self.__salary)

emp = Employee("Jessa", 40000)
emp.show()

# access salary from outside of a class
print(emp.__salary)

Name is  Jessa and salary is 40000

AttributeError: 'Employee' object has no attribute '__salary'